@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;

  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #FFFFFF;

  background-color: rgb(221, 240, 230);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:link,
a:hover,
a:visited {
  display: block;

  font-style: normal;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
textarea,
button {
  outline: none;

  background: none;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

label {
  cursor: pointer;
}

/* BUTTONS */
button {
  cursor: pointer;
}

.button-1 {
  color: #FFFFFF;
  border-radius: 10px;
  border: 2px solid rgb(83, 133, 105);
  background-color: rgb(83, 133, 105);

  transition: background-color .3s ease;
}

.button-1:hover {
  background-color: rgba(83, 133, 105, .7);
}

.button-2 {
  padding: 10px 25px;

  border-radius: 10px;
  background-color: #FFFFFF;

  transition: background-color .3s ease;
}

.button-2:hover {
  background-color: rgba(255, 255, 255, .7);
}

/* BOX */
.box {
  padding-left: 300px;
  padding-right: 300px;
}

/* HEADER */
header {
  width: 100%;
  height: 10vh;
  position: relative;

  color: #FFFFFF;
  background-color: rgb(83, 133, 105);

  transition: max-height 1.5s ease;

  z-index: 2222222;
}

header.active {
  position: fixed;
  max-height: 0;

  background-color: rgba(83, 133, 105, .9);
  box-shadow: 0px 5px 5px rgba(83, 133, 105, .9);

  top: 0;
  left: 0;

  z-index: 2222222;
}

header.active .drop-menu-wrapper {
  background-color: rgba(83, 133, 105, .9);
}

.header-content {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 100%;

  transition: height .3s ease;
}

.header-logo:hover {
  height: 110%;
}

.header-logo img {
  height: 100%;
}

/* NAV */
.header-nav {
  height: 100%;
}

.header-nav-links {
  display: flex;
  align-items: center;
  column-gap: 30px;
  height: 100%;
}

.header-nav-item {
  height: 100%;
}

.header-nav-item .drop-menu-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 100%;

  cursor: pointer;

  transition: opacity .3s ease;
}

.header-nav-item .drop-menu-title:hover {
  opacity: .5;
}

.header-nav-item .drop-menu-title img {
  width: 20px;
}

/* DROP MENU */
.drop-menu {
  position: relative;
}

.drop-menu-wrapper {
  position: absolute;
  width: calc(100% + 20px);
  max-height: 0;
  overflow: hidden;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(83, 133, 105);

  top: calc(100% + 12px);
  left: -10px;

  transition: all .3s ease;
}

.drop-menu-item {
  padding: 10px 10px;

  border-bottom: 1px solid rgb(221, 240, 230);
  border-bottom-style: dashed;

  transition: background-color .3s ease;
}

.drop-menu-item:last-child {
  border: 0;
}

.drop-menu-item:hover {
  background-color: rgba(121, 165, 140, 0.7);
}

.drop-menu-item:last-child:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.drop-menu-item a {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.drop-menu-item img {
  width: 20px;
}

/* TICKET ORDER */
.ticket-order {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 0;
  max-height: 0;
  overflow: hidden;

  backdrop-filter: blur(2px);

  top: 50%;
  left: 50%;

  z-index: 1111;

  transform: translateX(-50%) translateY(-50%);
  transition: all .3s ease;
}

.ticket-order-content {
  width: 60%;
  height: 70%;
  position: relative;
  padding: 20px 30px;
  text-align: center;

  border: 2px solid rgb(83, 133, 105);
  border-radius: 10px;
  border-style: dashed;
  background-color: rgba(160, 193, 174, .7);
}

.ticket-order-close {
  position: absolute;
  width: 30px;
  height: 30px;

  fill: rgb(83, 133, 105);

  top: 10px;
  right: 10px;
}

/* BUS SEATS */
.bus-choose-seats {
  height: 100%;
  position: relative;
}

.bus-choose-seats-title {
  display: block;
  margin-bottom: 30px;

  color: rgb(83, 133, 105);
  font-size: 18px;
  font-weight: 500;
}

.bus-seats {
  width: 100%;
  height: 200px;
  padding: 10px 30px 10px 150px;
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  border: 2px solid rgb(83, 133, 105);
}

.bus-seats-col {
  display: grid;
  grid-template-areas: "seat-1"
    "seat-2"
    "seat-3"
    "seat-4"
    "seat-5";
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
}

.seat-1 {
  grid-area: seat-1;
}

.seat-2 {
  grid-area: seat-2;
}

.seat-3 {
  grid-area: seat-3;
}

.seat-4 {
  grid-area: seat-4;
}

.seat-5 {
  grid-area: seat-5;
}

.bus-seats-item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: #000000;
  font-size: 14px;

  border-radius: 5px;
  border: 2px solid rgb(150, 170, 158);
  background-color: rgb(201, 218, 208);

  transition: all .3s ease;
}

.bus-seats-item.busy {
  color: #FFFFFF;
  background-color: rgba(48, 67, 56, 0.7);
}

.bus-seats-item.busy:hover {
  color: #FFFFFF;
  background-color: rgba(48, 67, 56, 0.7);
}

.bus-seats-item.busy.active {
  color: #FFFFFF;
  background-color: rgba(48, 67, 56, 0.7);
}

.bus-seats-item.active {
  color: #FFFFFF;
  background-color: rgba(83, 133, 105, .7);
}

.bus-seats-item:hover {
  color: #FFFFFF;
  background-color: rgba(83, 133, 105, .7);
}

.bus-choose-seat {
  position: absolute;
  padding: 15px 20px;

  bottom: 0;
  right: 0;

  z-index: inherit;
}

/* ENTER PESSENGER */
.enter-passenger {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 100px;
}

/* TICKET */
.ticket {
  width: 40%;
  height: 180px;
  padding: 5px;
  text-align: left;

  color: #000000;

  border-radius: 5px;
  border-left: 10px solid rgb(83, 133, 105);
  background-color: rgb(201, 218, 208);
}

.ticket-item {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgb(154, 173, 162);
  border-bottom-style: dashed;
}

.ticket-item:last-child {
  border: 0;
}

.ticket-time {
  width: 30%;
  margin-bottom: 13px;
  position: relative;
}

.ticket-date {
  font-size: 10px;
}

.ticket-travel-time {
  padding-top: 5px;
  font-size: 10px;
}

.ticket-station {
  position: absolute;

  left: 0;
  top: 100%;

  font-size: 10px;
}

.ticket-number-seat {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.ticket-number-seat-title {
  font-size: 10px;
  color: rgb(119, 128, 123);
}

.ticket-price.ticket-item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 2px;
}

.ticket-price-title {
  font-size: 10px;
  color: rgb(119, 128, 123);
}

/* PASSENGER DATA */
.passenger-data {
  width: 40%;
  height: 180px;
  padding: 5px;

  color: #000000;
  border-radius: 5px;
  background-color: rgb(201, 218, 208);
}

.passenger-title {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(154, 173, 162);
  border-bottom-style: dashed;
}

.passenger-title button {
  color: rgb(83, 133, 105);
}

.passenger-content {
  padding: 10px 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  font-size: 14px;
}

.passenger-name {
  font-weight: 500;
}

.ticket-access {
  padding: 10px;
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;

  left: 0;
  bottom: 0;

  font-size: 14px;
  color: #000000;
  background-color: rgb(201, 218, 208);
}

.ticket-access-content {
  width: 60%;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: initial;
}

.ticket-access-content>p>a {
  display: inline;

  color: rgb(83, 133, 105);
}

.ticket-access-button {
  padding: 15px 20px;
}

/* TICKET SEARCH */
.ticket-search {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #FFFFFF;
}

.ticket-search-title {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;

  font-size: 2rem;
}

.ticket-search-title span:last-child {
  text-transform: uppercase;
}

.main-form {
  display: flex;

}

.main-form label {
  height: 56px;
  position: relative;
}

.main-form label:after {
  content: "";
  display: block;
  height: 60%;
  width: 2px;
  position: absolute;

  border-radius: 5px;
  background-color: #FFFFFF;

  top: 50%;
  right: 0;

  transform: translateY(-50%) translateX(50%);

  z-index: 111;
}

.main-form label input {
  height: 100%;
  padding: 20px 25px;

  background-color: rgb(83, 133, 105);
  color: #FFFFFF;
}

.main-form label:first-child input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-form label:last-child input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-form label span {
  position: absolute;

  font-size: .7em;

  top: 20px;
  left: 25px;

  z-index: 111;

  transition: all .3s ease;
}

.main-form .search-city input:focus+span,
.main-form .search-city input:valid+span {
  top: 5px;
}

.main-form label.active span {
  top: 7px;
}

.ticket-input-reverse {
  height: 56px;
  background-color: rgb(83, 133, 105);
}

.order-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* OFFERS */
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.offers-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.offers-item {
  width: 48%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  background-color: rgb(83, 133, 105);
  box-shadow: 0 0 5px 5px rgba(83, 133, 105, .3);
}

.offers-item-stations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}

.offers-item-price {
  text-transform: uppercase;
}

.offers-more {
  padding: 20px 0;
  width: 20%;
}

/* INFO */
.info {
  margin-bottom: 100px;
}

.info-content {
  padding: 20px;

  border: 2px solid rgb(83, 133, 105);
  border-radius: 10px;
  border-style: dashed;
}

.info-title {
  display: flex;
  align-items: center;
  column-gap: 10px;

  color: rgb(83, 133, 105);
  font-weight: 600;
  padding-bottom: 30px;
}

.info-title-img {
  height: 25px;
  width: 25px;
  padding: 4px;
  display: flex;
  justify-content: center;

  fill: rgb(83, 133, 105);

  border-radius: 50%;
  border: 2px solid rgb(83, 133, 105);
}

.info-title-img svg {
  height: 100%;
}

/* CARDS */
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cards-item {
  padding: 20px 10px;
  width: 24%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  text-align: center;

  border-radius: 10px;
  background-color: rgb(83, 133, 105);
}

.cards-item-img {
  width: 60px;

  fill: #FFFFFF;
}

.cards-item-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.cards-item-title {
  font-weight: 500;
  font-size: 14px;
}

.cards-item-text {
  font-size: 13px;
}

/* SLIDER */
.swiper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-wrapper {
  width: 70%;
  height: 140px;
  display: flex;
  overflow: hidden;
  column-gap: 30px;
}

.swiper-slide {
  width: 100%;
  flex: 1 0 100%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 35px;

  fill: rgb(83, 133, 105);
}

/* slider comment */
.swiper-slide.comment {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;

  border-radius: 10px;
  background-color: rgb(83, 133, 105);
}

.swiper-comment-img {
  width: 20%;
  height: 100%;
  padding: 2px;

  border-radius: 10px;
  border: 2px solid #FFFFFF;
}

.swiper-comment-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-comment-username {
  font-size: 14px;
  font-weight: 500;
}

.swiper-comment-text {
  font-size: 13px;
}

/* CAROUSEL */
.carousel {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  width: 15%;
  height: 100%;
  position: absolute;

  top: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;

  color: rgb(100, 14, 113);
}

/* FOOTER */
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  background-color: rgb(83, 133, 105);
}

/* SOCIAL */
.social-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.social-link {
  width: 25px;

  transition: opacity .3s ease;
}

.social-link:hover {
  opacity: .5;
}

/* ADDRESS */
address {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

a.address-item {
  display: flex;
  align-items: center;
  column-gap: 5px;

  transition: opacity .3s ease;
}

.address-item:hover {
  opacity: .5;
}

.address-item img {
  width: 15px;
}

/* MESSAGE */
.message {
  padding: 20px 30px;
  position: fixed;

  border-radius: 5px;
  background-color: rgb(83, 133, 105);

  right: 10px;
  bottom: 20px;

  transform: translateY(calc(100% + 20px));

  transition: all .3s ease;
}

/* ACCOUNT */
.account {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;

  background-color: rgb(221, 240, 230);
}

.account-panel {
  padding: 20px 10px;
  height: 25vw;

  border-radius: 10px;
  background-color: rgb(83, 133, 105);

  top: 0;
  left: -10vh;
  bottom: 0;
}

.account-panel-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.account-panel-button {
  fill: #FFFFFF;

  transition: opacity .3s ease;
}

.account-panel-button:hover {
  opacity: .5;
}

.account-panel-button svg {
  width: 25px;
}

/* DELETE */
.delete {
  width: 25px;
  position: absolute;

  fill: #FFFFFF;

  transition: fill .3s ease;

  top: 10px;
  right: 10px;
}

.delete:hover {
  fill: rgb(171, 84, 84);
}

/* ACCOUNT MAIN */
.account-main {
  width: 60%;
  height: 25vw;
  padding: 10px 0;
  overflow-y: auto;
  position: relative;

  border-radius: 10px;
  border: 2px solid rgb(83, 133, 105);
  border-style: dashed;
}

.orders {
  display: none;
}

.account-main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  padding-bottom: 20px;

  color: rgb(83, 133, 105);
  font-weight: 600;
}

.orders-content {
  width: 100%;

  border-collapse: collapse;
}

.orders-content thead {
  background-color: rgba(103, 162, 129, 0.7);
}

.orders-content th,
.orders-content td {
  padding: 10px 0;

  font-weight: 400;
}

.order-close {
  fill: #FFFFFF;

  transition: fill .3s ease;
}

.order-close:hover {
  fill: rgb(171, 84, 84);
}

.order-close svg {
  width: 20px;
  height: 20px;
}

/* BASKET */
.basket {
  display: none;
}

.account-main.basket {
  background-color: rgb(221, 240, 230);

  border: 2px solid rgb(83, 133, 105);
  border-radius: 10px;
  border-style: dashed;
}

.basket .account-main-title {
  color: rgb(83, 133, 105);
}

.basket-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  padding: 0 20px;
}

.basket-item {
  width: 49%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  position: relative;

  border-radius: 10px;
  background-color: rgb(83, 133, 105);
  box-shadow: 0 0 5px 5px rgba(83, 133, 105, .3);
}

.basket-item-stations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basket-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}

.basket-item-price {
  text-transform: uppercase;
}

.basket-item-close svg {
  width: 20px;
  height: 20px;
}

.basket-item-close {
  position: absolute;
  padding: 5px;

  fill: #FFFFFF;

  top: 0;
  right: 0;

  transition: fill .3s ease;
}

.basket-item-close:hover {
  fill: rgb(171, 84, 84);
}

/* PASSEGERS */
.passegers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

.passegers-item {
  width: 40%;
  height: 100px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 14px;
  border-radius: 5px;
  background-color: rgb(83, 133, 105);
}

.add-passegers-button {
  position: absolute;
  padding: 10px 15px;

  top: 10px;
  right: 20px;
}

.add-passegers {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 0;
  max-height: 0;
  overflow: hidden;

  top: 50%;
  left: 50%;

  backdrop-filter: blur(2px);

  transform: translateX(-50%) translateY(-50%);

  transition: all .3s ease;
}

.add-passegers-content {
  width: 50%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  position: relative;

  border-radius: 10px;
  border: 2px solid rgb(83, 133, 105);
  border-style: dashed;
  background-color: rgba(160, 193, 174, .7);
}

.add-passegers-title {
  color: rgb(83, 133, 105);
  font-size: 18px;
  font-weight: 500;
}

.window-close {
  position: absolute;
  width: 30px;
  height: 30px;

  fill: rgb(83, 133, 105);

  top: 20px;
  right: 20px;
}

.add-passegers-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  row-gap: 30px;
}

.passegers-gender-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  padding: 0 20px;
}

.passeger-item,
.passegers-gender {
  height: 40px;
  width: 46%;
}

/* INPUT RADIO */
.passegers-gender {
  display: flex;
}

.passegers-gender .passegers-gender-item {
  width: 12%;
  position: relative;
}

.passegers-gender .passegers-gender-item input[type='radio'] {
  display: none;
}

.passegers-gender .passegers-gender-item label {
  display: block;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFFFFF;
  background-color: rgb(83, 133, 105);
  cursor: pointer;

  transition: all .3s ease;
}

.passegers-gender .passegers-gender-item label:hover {
  background-color: rgb(149, 180, 162);
  color: #fff;
}

.passegers-gender .passegers-gender-item input[type="radio"]:checked+label {
  background-color: rgb(149, 180, 162);
  color: #fff;
}

.passegers-gender .passegers-gender-item:first-child label {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.passegers-gender .passegers-gender-item:last-child label {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.passegers-gender .passegers-gender-item:first-child::after {
  content: "";
  display: block;
  width: 2px;
  height: 25px;
  position: absolute;

  border-radius: 2px;
  background-color: rgb(149, 180, 162);

  top: 0;
  right: 0;
  z-index: 111;

  transform: translateY(12.5%) translateX(50%);
}

.add-passegers-form {
  padding-right: 20px;
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  left: 0;
  bottom: 0;

  background-color: rgb(201, 218, 208);
}

.add-passegers-form>button {
  padding: 15px 20px;
}


/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-select {
  width: 100%;
  padding: 10px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(83, 133, 105);
  color: #FFFFFF;

  transition: all .3s ease;
}

.dropdown.active .dropdown-select {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-select svg {
  width: 15px;
  height: 15px;

  fill: #FFFFFF;

  transition: transform .3s ease;
}

.dropdown.active .dropdown-select svg {
  transform: rotate(180deg);
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  max-height: 0;
  overflow: hidden;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(83, 133, 105);

  top: calc(100% + 3px);

  z-index: 3111;

  transition: max-height .3s ease;
}

.dropdown-menu-item {
  padding: 10px 17px;

  cursor: pointer;
  color: #FFFFFF;
  border-bottom: 1px solid rgb(221, 240, 230);
  border-bottom-style: dashed;

  transition: all .3s ease;
}

.dropdown-menu-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 0px;
}

.dropdown-menu-item:hover {
  background-color: rgba(121, 165, 140, 0.7);
}

/* SETTINGS INPUT[text] */
.add-passegers input[type="text"] {
  padding: 10px 17px;

  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: rgb(83, 133, 105);
  border-radius: 5px;
}

.add-passegers input[type="text"]::placeholder {
  color: rgb(201, 218, 208);
  font-weight: 400;
  font-size: 12px;
}